@font-face {
    font-family: oldlondon;
    src: url(fonts/Olondon_.otf);
}
@font-face {
    font-family: china;
    src: url(fonts/Shojumaru-Regular.ttf);
}
a:visited{
	color:blue;
}
.journal{
	background: snow;
	padding: 10px;
	margin: 10px;
}
.left-box{
	border-style: solid;
	display: inline-block;
	height: 300px;
	padding: 10px;
	background: gainsboro;
}
.mail {
	background: sienna;
	padding: 10px;
	margin: 10px;
}
.mail h1{
	font-family: oldlondon;
}
.paper {
	font-family: monospace;
	background: khaki;
	padding: 10px;
	margin: 10px;
}
.paper h1{
	font-family: oldlondon;
}
.letter {
	padding: 10px;
	border-style: solid;
	width: 500;
	float: right;
	display: inline-block;
	background: khaki;
	font-family: monospace;
}

.centered{
	text-align: center;
}
.bar{
	background: sienna;
	padding: 5;
}
.bar a{
	color: snow;
	font-family: monospace;
	font-weight: bold;
	padding: 15;
	margin: 10;
}
.bar a:visited{
	text-decoration: none;
}
.bordered{
	border-style: solid;
	display: inline-block;
}

.clue:hover{
	background: yellow;
	cursor: zoom-in;
}
.mansion{
	background: khaki;
	padding: 10px;
	margin: 10px;
}
.mansion h1{
	font-family: 'Parisienne', cursive;
}
.small a:visited{
	font-size: 12;
	color: green;
}
.scroogle{
	background: white;
	padding:10;
	margin:10;
}
.scroogle h3{
	padding:0;
	margin:0;
}
.facehead{
	background-image: url(img/bar.png);
	background-repeat: repeat-x; 
}
.facehead h1{
	color:white;
	margin: 0;
	padding: 0;
}
.facehistory{
	margin-left: auto;
    margin-right: auto;
	width:80%;
	background: white;
}
.face {
	background: gainsboro;
	float: center;
}
.notice{
	border-style: solid;
	width:200; 
	float:right
}